{%extends 'master.html' %}
{% load static %}

{% block end%}
 about page
{% endblock %}

{% block content %}
<!-- <h1 class="demo2">about us</h1> -->
 <div class="container">
    <div class="row">
        <div class="col-lg-6" >
            <div class="inbox2" data-aos="fade-right"><img src="{% static 'images/pexels-cottonbro-4620620.jpg'%}" alt="" width="100%"></div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="inbox2 para_container"data-aos="zoom-in">Fashion design is the art of applying design, aesthetics, clothing construction and natural beauty to clothing and its accessories. It is influenced by culture and different trends, and has varied over time and place. "A fashion designer creates clothing, including dresses, suits, pants, and skirts, and accessories like shoes and handbags, for consumers. He or she can specialize in clothing, accessory, or jewelry design, or may work in more than one of these areas.Fashion design is the art of applying design, aesthetics, clothing construction and natural beauty to clothing and its accessories. It is influenced by culture and different trends, and has varied over time and place</div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="inbox2 para_container" data-aos="zoom-in">Fashion designers work in a variety of different ways when designing their pieces and accessories such as rings, bracelets, necklaces and earrings. Due to the time required to put a garment out in market, designers must anticipate changes to consumer desires. Fashion designers are responsible for creating looks for individual garments, involving shape, color, fabric, trimming, and more.Fashion designers work in a variety of different ways when designing their pieces and accessories such as rings, bracelets, necklaces and earrings.Fashion designers work in a variety of different ways when designing their pieces and accessories such as rings, bracelets, necklaces and earrings</div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="inbox2" data-aos="fade-right"><img src="{% static 'images/pexels-cottonbro-4621569.jpg' %}" alt="" width="100%"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mt-5">
            <div class="inbox2" data-aos="fade-left"><img src="{% static 'images/pexels-cottonbro-4620631.jpg'%}" alt="" width="100%"></div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="inbox2 para_container" data-aos="zoom-in">Fashion designers attempt to design clothes that are functional as well as aesthetically pleasing. They consider who is likely to wear a garment and the situations in which it will be worn, and they work within a wide range of materials, colors, patterns, and styles. Though most clothing worn for everyday wear falls within a narrow range of conventional styles, unusual garments are usually sought for special occasions such as evening wear or party dresses.Fashion designers attempt to design clothes that are functional as well as aesthetically pleasing. They consider who is likely to wear a garment and the situations in which it will be worn, and they work within a wide range of materials, colors, patterns, and styles.</div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="inbox2 para_container" data-aos="zoom-in">Fashion designers work in various ways, some start with a vision in their head and later on move into drawing it on paper or computer,while others go directly into draping fabric onto a dress form,also known as a mannequin. The design process is unique to the designer and it is rather intriguing to see the various steps that go into the process A designer may choose to work with certain apps that are able to help connect all their ideas together and expand their thoughts to create a cohesive design.Fashion designers work in various ways, some start with a vision in their head and later on move into drawing it on paper or computer,while others go directly into draping fabric onto a dress form,also known as a mannequin</div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="inbox2"data-aos="fade-left"><img src="{% static 'images/pexels-pavel-danilyuk-6461158.jpg' %}" alt="" width="100%"></div>
        </div>
    </div>
 </div>
 {% include 'footer.html' %} 
   
{% endblock %}