{% extends 'master.html' %}
{% load static %}
{% block title %}
category
{% endblock %}
{% block content %}
<form action="/categories" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for="name" class="form-label">PRODUCT NAME:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="cat_name">
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">PRODCUT IMAGE:</label>
        <input type="file" class="form-control" id="image" placeholder="enter image" name="cat_image">
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}