{% extends 'master.html'%} 

{% load static %}
{% block title %}
   addproduct
{% endblock %}
{% block content %}
<form action="/addproduct" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for="name" class="form-label">PRODUCT NAME:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="pro_name">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">PRODCUT PRICE:</label>
      <input type="number" class="form-control" id="price" placeholder="Enter price" name="pro_price">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">PRODCUT IMAGE:</label>
        <input type="file" class="form-control" id="image" placeholder="enter image" name="pro_image">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">PRODUCT CATEGORY:</label>
        <select name="pro_catid" id="cat" class="form-control">
          {% for x in cat %}
          <option value="{{x.id}} ">{{x.cat_name}}</option>
          {% endfor %}
        </select>
        <!-- <input type="file" class="form-control" id="image" placeholder="enter image" name="pro_image"> -->
      </div>
    
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}