{% extends 'master.html' %}
{% load static %}

{% block title %}
      homepage
{% endblock %}

{% block content %}
<section class="scroll">
<h1 class="demo1"></h1>
    <section class="homesec">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="homebox">
                       <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center"> <img src="{% static 'images/prjct3.png '%}" class="imgshop2"data-aos="zoom-in" >
                            </div>
                            <div class="col-lg-12">
                                <div class="inbox1"><img src="{% static 'images/prjct.png '%}" class="imgshop3"data-aos="fade-left" ></div>
                            </div>
                           
                        </div>
                        <div class="row">
                           
                            <div class="col-lg-5"> <img src="{% static 'images/prjct2.png '%}" class="imgshop4"data-aos="fade-right" >
                            <div class="inbox1 text-center"> <a href="#product_show">
                                <button class="btn btn-danger btn1 translate-middle mb-5 text-center" data-aos="zoom-out">ORDER NOW</button>
                               </a></div></div>
                            <div class="col-lg-7">
                                <div class="inbox1"><img src="{% static 'images/shopping.png '%}" class="imgshop1" data-aos="fade-left" width="100%" ></div>
                            </div>
                        </div>
                       </div>
                       
                        
                       
                        

                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container" id="product_show">
        <div class="row">
            <h1 class="pro1"></h1><br><br>
            {% for x in cat %}

            <div class="col-xl-3 col-lg-4 col-sm-6  my-3">
                <a href="/product?catid={{x.id}}">
                <div class="inbox">
                    <img src="/media/{{x.cat_image}}" alt="" height="200px" width="100%" style="object-fit: cover;object-position: center;">
                    <div class="span1 text-center text-uppercase mt-3">
                        <button class="product-btn text-decoration-none mt-2">{{x.cat_name}}</button>
                    </div>
                </div>
            </a>
            </div>
            {% endfor%}
            {% include 'footer.html' %} 
        </div>
    </div>
</section>
{% endblock %}