{% extends 'master.html' %}
{% load static %}
{% block title%}
checkout page
{% endblock %}
{% block content %}
 <h1 class="prol1">checkout</h1>
 <div class="container">
    <div class="row">
        <div class="col-lg-9">
            {% for x in order %}
            <div class="row my-2" style="background-color: aliceblue;">
                <div class="col-lg-4">
                    <div class="inbox1">
                        <img src="/media/{{x.order_image}}" alt="" height="100px">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="span1">
                        <span>{{x.order_name}}</span>
                    </div>
                    <div class="span1">
                        <span>{{x.order_price}}</span>
                    </div>
                    <div class="span1">
                        <span>{{x.order_qty}}</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="span1">
                        <span>{{x.order_amount}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-3">
            <div style="background-color: aliceblue; min-height: 300px; padding:15px;">
                {% if co == 0 %}
                <form action="/checkout" method="post">
                    {% csrf_token %}
                    <label for="">enter Addres:</label>
                    <textarea name="dlv_adrs" id="" style="width: 100px; height: 100px;" ></textarea>
                    <label for="">choose delivery type:</label>
                    <select name="dlv_type" id="">
                        <option value="cod">COD</option>
                        <option value="online">online</option>
                    </select>
                    <button class="btn btn-success">submite</button>
                </form>
                {% elif co == 1 %}
                Totel Amonut : {{tot}}
                <br><br>
                shipping : {{shp}}
                <br><br>
                GST : {{gst}}
                <br>
                <hr>
                <br>
                totel:{{gtot}}
                <br><br>
                <a href="/confirmed">
                    <button class="btn btn-success">confirm order</button>
                </a>
                {% endif %}
            </div>
        </div>
       
    </div>
 </div>
{% endblock %}