<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks: </span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/login" class="me-4 text-reset text-decoration-none">
          <i class="fab bi-facebook"></i>
        </a>
        <a href="https://x.com/i/flow/login" class="me-4 text-reset text-decoration-none">
          <i class="fab bi-twitter"></i>
        </a>
        <a href="https://www.google.co.in/" class="me-4 text-reset text-decoration-none">
          <i class="fab bi-google"></i>
        </a>
        <a href="https://www.instagram.com" class="me-4 text-reset text-decoration-none">
          <i class="fab bi-instagram"></i>
        </a>
        <a href="https://in.linkedin.com/" class="me-4 text-reset text-decoration-none">
          <i class="fab bi-linkedin"></i>
        </a>
        <a href="https://github.com/soundarya-dvlp" class="me-4 text-reset text-decoration-none">
          <i class="fab bi-github"></i>
        </a>
        
      <a href="https://www.behance.net/soundaryas11" class="me-4 text-reset text-decoration-none">
        <i class="fab bi-behance"></i>
      </a>
    </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>aerthics fashion
            </h6>
            <p>
                Fashion is part of the daily air and it changes all the time, with all the events. You can even see the approaching of a revolution in clothes. You can see and feel everything in clothes.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Categories
            </h6>
            <p>
              <a href="/product" class="text-reset">fashion</a>
            </p>
            <p>
              <a href="/product" class="text-reset">style</a>
            </p>
            <p>
              <a href="/product" class="text-reset">cosmetic</a>
            </p>
            <p>
              <a href="/product" class="text-reset">footwear</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/product" class="text-reset">product</a>
            </p>
            <p>
              <a href="/about" class="text-reset">about</a>
            </p>
            <p>
              <a href="/service" class="text-reset">service</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> kakkanad,kochi</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              aerthics.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 91 834 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 91 934 557 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="/">aerthics.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->