{% extends 'master.html' %}
{% load static %}
 {% block title %}
orderpage
{% endblock %}
{% block content%}
 <h2 class="pro1">myorder </h2><br><br><br>
 <div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% for x in order %}
            <div class="row my-2" style="background-color: aqua;">
                <div class="col-lg-4">
                    <div class="inbox1">
                        <img src="/media/{{x.order_image}}" alt="" height="100px">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="span1">
                        <span>name={{x.order_name}}</span>

                    </div>
                    <div class="span1">
                        <span>price={{x.order_price}}</span>
                    </div>
                    <div class="span1">
                        <span>
                            quantity:{{x.order_qty}}
                        </span>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="span1">
                        <span>{{x.order_amount}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>

 </div>

 {% endblock %}
